{% extends 'base.html.twig' %}

{% block title %}Hello Dashboard!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <b>USER INFO</b>
    <ul>
        <li id="email">{{ userLocal.email }}</li>
        <li id="role">{{ userLocal.roles[0] }}</li>
    </ul>
    <br/>
    <a href="/association" id="association">LISTE ASSOCIATION</a><br/>
    <a href="/prefecture" id="prefecture">LISTE PREFECTURE</a><br/>
    <a href="/logout" id="logout">LOGOUT</a>
</div>

{% endblock %}